<% provide(:title, "About") %>
<h1>SAMPLE APP</h1>
<hr/>
<h2>About</h2>
<p>
  This is the about page for thes
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>